.claimButton {
    background: linear-gradient( 180deg, #dd962b 19.44%, #e39c2d 23.36%, #7e300f 49.18%, #dea85e 79.17%);
    border-radius: 15px;
    font-family: Solway;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    padding: 15px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
}

.treasureHunt {
    & div[data-squareId] div {
        transition: all 0.5s ease;
    }
    & .animating-digging {
        animation: noTreasure 0.5s ease;
        animation-fill-mode: forwards;
    }
    & .animating-treasure {
        animation: treasureFound 0.5s ease;
        animation-fill-mode: forwards;
    }
}

@keyframes noTreasure {
    50% {
        background: crimson;
    }
    100% {
        background: url("assets/images/crackedImage.jpg");
    }
}

@keyframes treasureFound {
    50% {
        background: gold;
    }
    100% {
        background: url("assets/images/crackedImage.jpg");
    }
}