.claimButton {
    background: linear-gradient( 180deg, #dd962b 19.44%, #e39c2d 23.36%, #7e300f 49.18%, #dea85e 79.17%);
    border-radius: 15px;
    font-family: Solway;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    padding: 15px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
}