.anotherThingContainer {
    background: #0c1221;
    /* 1 */
    box-shadow: 4px 0px 30px rgba(40, 61, 97, 0.7), 0px 4px 30px rgba(32, 49, 79, 0.7);
    border-radius: 20px;
    width: calc(100vw * (664 / 1920));
    margin-left: calc(100vw * (32 / 1920));
    min-height: 293px;
    .sectionTitle {
        color: #fff;
    }
}