.paginationContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
	.pagination-buttons {
		display: flex;
		width: 110px;
		justify-content: space-between;
		button {
			cursor: pointer;
			display: flex;
			justify-content: center;
    		align-items: center;
			border-radius: 3px;
			width: 50px;
			height: 55px;
			padding: 6px 8px;
			box-sizing: border-box;
			.arrow-pagination  {
				height: 40px;
			}
			.arrow-left {
				height: 40px;
				transform: rotate(180deg);
			}
			&:hover {
				color: #FFFFFF;
				path {
					stroke: #FFFFFF;
				}
			}
		}
	}
}