.paginationContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
	.pagination-buttons {
		display: flex;
		width: 110px;
		justify-content: space-between;
		button {
			cursor: pointer;
			display: flex;
			justify-content: center;
    		align-items: center;
			color: #CCA66A;
			border: 1px solid #CCA66A;
			border-radius: 3px;
			width: 30px;
			height: 35px;
			padding: 6px 8px;
			box-sizing: border-box;
			&:hover {
				background: #CCA66A;
				border: 1px solid #CCA66A;
				color: #FFFFFF;
				path {
					stroke: #FFFFFF;
				}
			}
		}
	}
}