.chessboardWrapper {
  display: flex;
  flex: 1;
  flex-direction: row;
  min-width: calc(100vh * (800 / 1920));
  min-height: calc(100vh * (800 / 1920));
  box-shadow: 4px 0px 30px rgba(40, 61, 97, 0.7),
    0px 4px 30px rgba(32, 49, 79, 0.7);

  @media (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.chessboardContainer {
  max-height: 100% !important;
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.chessboardSidebarWrapper {
  display: flex;
  flex: 1;
  position: relative;
  margin-top: 93px;
  margin-left: calc(100vw * (33 / 1920));
  margin-right: calc(100vw * (59 / 1920));
  width: calc(100vw * (369 / 1920));
  @media (max-width: 768px) {
    width: 100vw;
  }
}

.timersWrapper {
  display: flex;
  flex: 1;

  flex-direction: column;
}

.playerStatus {
  // flex: 1;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 20px;
  max-height: 73px !important;
  min-height: 73px !important;

  .elo-container {
    margin-left: 20px;

    .elo {
      font-size: 17px;
      font-weight: 600;
    }
    .mode {
      font-size: 14px;
      color: #607aa2;
      font-weight: 600;
      margin-top: -5px;
    }
  }

  .wonFiguresWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
  .wonPieceImage {
    height: 24px;
    width: 24px;
  }

  .chessboardOpponentName {
    text-align: left;
    font-family: Solway;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 18px;
    text-transform: uppercase;
    background-image: repeating-linear-gradient(
      #dd962b 0%,
      #e39c2d 6.56%,
      #7e300f 49.79%,
      #dea85e 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  &.playerStatusReversed {
    flex-direction: row-reverse;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 0px;

    .elo-container {
      margin-left: 0;
      margin-right: 20px;
    }

    .wonFiguresWrapper {
      justify-content: flex-start;
    }
  }
}
@media only screen and (max-width: 430px){
.chessboardContainer{
  min-height: 0% !important;
}
}
