.spectatorsListContainer {
    align-items: center;
	background-color: #e1d795;
	border: 3px solid grey;
	border-radius: 5px;
	bottom: 3%;
	box-shadow:0px 2px 0px 1px rgb(0, 0, 0 /18%);
    display: flex;
    font-size:20px;
    height:50px;
    justify-content: flex-start;
    padding: 2px;
    position: fixed;
    right: 1%;
    width: 80px;    
}
.watchImg {
	margin: 20px;
	width: 30%;
}
.watchcount {
	margin: 0;
	color: brown;
	font-weight: bold;
	font-size: 14px;

}
.cellWrapper {
	border:solid;
	display: none;
	border-right-width: 5px;
	border-left-width:5px;
	width: 150px;
	height: 100px;
	border-radius: 5px;
	border-color:rgb(180, 170, 170);
	background: linear-gradient(to right top, gray, white);
	overflow-y: scroll;
}
.showing {
	display: block;
}
.hidden {
	display: none;
}
.spectlist {
	position: fixed;
	bottom: 3%;
	right: 100px;
	z-index: 100;


}