.globalRankingsSection {
    & .title {
        font-family: Solway;
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        letter-spacing: 0.01em;
        margin-bottom: 2vmin;
        color: #cca66b;
        @media screen and (max-width: 700px) {
            font-size: 30px;
        }
        @media screen and (max-width: 400px) {
            font-size: 20px;
        }
    }
    .filterWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 4vmax;
        & .dropdown-menu {
            display: flex;
            cursor: pointer;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding: 2vmin 2vmax;
            gap: 1vmax;
            // position: static;
            width: 26vw;
            height: auto;
            // left: 0px;
            // top: 0px;
            background: rgba(255, 255, 255, 0.08);
            border-radius: 8px;
            position: relative;
            &.option {
                padding: 0;
                .filterText {
                    padding: 2vmin 2vmax;
                }
                &--active {
                    background: rgba(255, 255, 255, 0.9);
                    .filterText {
                        color: #0c1221 !important;
                    }
                }
            }
            & .dropDownOptions {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                box-sizing: border-box;
                height: auto;
                padding: 2vmin 2vmax;
                display: flex;
                gap: 2vmin;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                background: #0c1221;
                box-shadow: 3px 2px 6px #000;
                border-radius: 0px 0px 8px 8px;
                & span.bullet {
                    height: 5px;
                    width: 5px;
                    border-radius: 50%;
                    background: linear-gradient( 180deg, #dd962b 19.44%, #e39c2d 23.36%, #7e300f 49.18%, #dea85e 79.17%);
                }
            }
            // flex: none;
        }
        & .filterText {
            font-family: Solway;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            width: 100%;
            /* or 19px */
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
            display: flex;
            align-items: center;
        }
    }
    & .menubuttons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2vmin;
        button {
            cursor: pointer;
            margin: 0 0.6vmax;
            flex: 1;
            border: 2px solid #cca66a;
            box-sizing: border-box;
            border-radius: 8px;
            font-family: Solway;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 120%;
            @media screen and (max-width: 768px) {
                font-size: 10px;
            }
            text-transform: capitalize;
            color: #ffffff;
            & .timingRanking {
                font-size: 10px;
                @media screen and (max-width: 768px) {
                    font-size: 8px;
                }
                text-transform: capitalize;
            }
            padding: 1vmin 2vmax;
        }
        .colored {
            background: #cca66a;
        }
    }
}

@media screen and (max-width: 500px) {
    .filterText {
        font-size: 8px !important;
    }
    .menubuttons {
        flex-direction: column;
    }
    .globalRankingsSection .outlined {
        margin-bottom: 1vmin !important;
    }
}