.quick-pairing-modal {
  padding: 40px 30px 8px;
  width: auto;
  text-align: center;
  background: #0c1221;
  position: relative;
  h3 {
    font-size: 1.5rem;
    letter-spacing: 1.62px;
    text-transform: uppercase;
    color: #cca66b;
    font-size: 30px;
  }

  .headerRow {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
  }
  .row {
    display: flex;
    .box {
      width: 135px;
      height: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 2px solid #cca66a;
      background: rgba(255, 255, 255, 0.1);
      margin-right: 15px;
      margin-bottom: 15px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: #cca66a;
      }
      &.lg {
        width: 289px;
      }
      p {
        color: #ffffff;
        font-size: 14px;
        text-transform: uppercase;
        &:first-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .quick-pairing-modal {
    .headerRow h3 {
      font-size: 24px;
    }
    .row .box {
      height: 100px;
      p {
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .quick-pairing-modal {
    padding: 40px 15px 10px;
    .row {
      flex-direction: row !important;
      .box {
        height: 80px;
        p {
          font-size: 12px;
          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
