.newGame {
  padding: 76px 64px 46px 52px;
  width: 733px;
  text-align: center;
  background: #0c1221;
  border: 2px solid #cca66a;
  position: relative;
  .close-icon {
    position: absolute;
    top: 29px;
    right: 29px;
    cursor: pointer;
  }
  h3 {
    font-size: 1.5rem;
    letter-spacing: 1.62px;
    text-transform: uppercase;
    color: #cca66b;
    font-size: 30px;
  }

  .headerRow {
    display: flex;
    justify-content: center;
    // padding-top: 34px;
    .switch {
      padding-left: 16px;
    }
  }
  .row {
    display: flex;
    justify-content: space-between;
    .item {
      padding-top: 50px;
      h5 {
        color: #ffffff;
        font-size: 22px;
        text-transform: uppercase;
      }
      .sideItems {
        padding-top: 24px;
        display: flex;
        width: 265px;
        justify-content: space-between;
        & > div {
          width: 61px;
          cursor: pointer;
          border: 2px solid #cca66a;
        }
        &.dropdownItem {
          position: relative;
          padding-top: 15px;
          &::after {
            background: url("assets/images/Vector.svg");
            background-repeat: no-repeat;
            position: absolute;
            content: "";
            top: 30px;
            right: 70px;
            height: 10px;
            width: 15px;
          }
          select {
            border: 2px solid #cca66a;
            background: none;
            color: #ffffff;
            text-transform: uppercase;
            border-radius: 5px;
            opacity: 1;
            font-size: 15px;
            width: 205px;
            height: 37px;
            padding-left: 10px;
            cursor: pointer;
            appearance: none;
            option {
              color: #cca66a;
              padding-top: 5px;
              &:hover {
                background-color: #cca66a;
                color: #ffffff;
              }
            }
          }
        }
        &.sides {
          justify-content: flex-start;
          > div {
            border-radius: 8px;
            margin-right: 20px;
            border: 2px solid #cca66a;
            width: 58px;
            height: 58px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              height: 40px;
            }
          }
          .side {
          }
          .sideClicked {
          }
        }
        .inBetween {
          border: none;
          color: #ffffff;
          min-width: 65px;
        }
        input {
          border: 2px solid #cca66b;
          border-radius: 8px;
          opacity: 1;
          font-size: 15px;
          width: 56px;
          height: 32px;
          text-align: center;
          background: none;
          color: #ffffff;
        }
      }
      .timeAndIncrementTitle {
        padding-top: 0px;
      }
      .inputValue {
        width: 166px;
        align-items: center;
      }
    }
  }

  .createGame {
    margin-top: 50px;
    button {
      font-size: 20px;
      padding: 14px 20px;
    }
  }
}

h5 {
  text-align: left;
  font-size: 1.1rem;
  letter-spacing: 1.2px;
  color: #0f1f38;
  opacity: 1;
}
