.borderedGameButton {
  width: 340px;
  height: 340px;
  background-repeat: no-repeat;
  background: url("./assets/images/bordergame.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  .title {
    font-family: Solway;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #fbb040;
  }
  .subtitle {
    font-family: Solway;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #fbb040;
    + .coming-soon {
      margin: 25px 0 35px;
    }
  }
  .play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("./assets/images/playbutton.png");
    background-size: 100% 100%;
    width: 142px;
    height: 52px;
    cursor: pointer;
    margin: 20px 0;
    p {
      font-family: Solway;
      font-style: normal;
      font-weight: 800;
      font-size: 22px;
      line-height: 22px;
      color: #ffffff;
    }
  }
  button {
    background: linear-gradient(
      180deg,
      #dd962b 19.44%,
      #e39c2d 23.36%,
      #7e300f 49.18%,
      #dea85e 79.17%
    );
    border-radius: 15px;
    font-family: Solway;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 22px;
    padding: 15px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #ffffff;
    cursor: pointer;
  }
  .coming-soon {
    margin: 20px 0 50px;
    font-family: Solway;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.42);
  }
}
